
*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: productsans-regular;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  scroll-behavior: smooth;
}
textarea
{
	resize: none;
}
.mapscale:hover {
  -webkit-filter: none;
  filter: none;
}
.mapscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}


	.circle1{
		animation-delay: 0.1s;

	}
	.circle2{
		animation-delay: 0.2s;
	}
	.circle3{
		animation-delay: 0.3s;
	}
